In [4]:
import pandas as pd

In [5]:
df=pd.read_csv("D:\ETL\python_training\data_science\Salary_data.csv")
print("pandas namespace==",dir(df))

pandas namespace== ['T', '_AXIS_ALIASES', '_AXIS_IALIASES', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_REVERSED', '__abs__', '__add__', '__and__', '__array__', '__array_priority__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__div__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_add_numeric_operations', '_add_series_only_operations', '_add_series_or_dataframe_operations', '_agg_by_level', '_agg_examples_doc', '_agg_summary_and_see_also_doc', '_aggregate', '_aggregate_multiple_funcs', '_align_frame', '_align_series', '_box_col_values', '_box_item_values', '_builtin_table', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_percentile', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_combine_const', '_combine_frame', '_combine_match_columns', '_combine_match_index', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_dict_from', '_construct_axes_from_arguments', '_constructor', '_constructor_expanddim', '_constructor_sliced', '_convert', '_count_level', '_create_indexer', '_cython_table', '_data', '_deprecations', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_from_arrays', '_from_axes', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_space_character_free_column_resolvers', '_get_value', '_get_values', '_getitem_bool_array', '_getitem_frame', '_getitem_multilevel', '_gotitem', '_iget_item_cache', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_internal_get_values', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cached', '_is_copy', '_is_cython_func', '_is_datelike_mixed_type', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_numeric_mixed_type', '_is_view', '_ix', '_ixs', '_join_compat', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_needs_reindex_multi', '_obj_with_exclusions', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_series', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_is_copy', '_set_item', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_setup_axes', '_shallow_copy', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_to_dict_of_blocks', '_try_aggregate_string_function', '_typ', '_unpickle_frame_compat', '_unpickle_matrix_compat', '_update_inplace', '_validate_dtype', '_values', '_where', '_xs', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'applymap', 'as_matrix', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'axes', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'clip_lower', 'clip_upper', 'columns', 'combine', 'combine_first', 'compound', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'discipline', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'get_dtype_counts', 'get_ftype_counts', 'get_values', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isin', 'isna', 'isnull', 'items', 'iteritems', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lookup', 'lt', 'mad', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pct_change', 'phd', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'salary', 'sample', 'select_dtypes', 'sem', 'service', 'set_axis', 'set_index', 'sex', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'sparse', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dense', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_msgpack', 'to_numpy', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sparse', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unstack', 'update', 'values', 'var', 'where', 'xs']

In [6]:
print(df.head())

   rank discipline   phd  service   sex  salary
0  Prof        NaN  56.0       49  Male  186960
1  Prof          A  12.0        6  Male   93000
2  Prof          A  23.0       20  Male  110515
3  Prof          A  40.0       31  Male  131205
4  Prof          B  20.0       18  Male  104800

In [7]:
print(df.tail())

         rank discipline   phd  service     sex  salary
73       Prof          B  18.0       10  Female  105450
74  AssocProf          B  19.0        6  Female  104542
75       Prof          B  17.0       17  Female  124312
76       Prof          A  28.0       14  Female  109954
77       Prof          A  23.0       15  Female  109646

In [5]:
print(df.dtypes())

TypeError: 'Series' object is not callable

In [6]:
print(df['rank'].dtype)
print(df.axes)

object
[RangeIndex(start=0, stop=78, step=1), Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')]

In [7]:
print(type(df['rank']))

<class 'pandas.core.series.Series'>

In [9]:
print("columns====",df.columns)
print("axes====",df.axes)
print("ndim====",df.ndim)
print("size====",df.size)
print("shape====",df.shape)
print("values for all ===",df.values)
print("values for rank and phd====",df.[['rank','phd']].values)

SyntaxError: invalid syntax (<ipython-input-9-8c474bd118ff>, line 7)

In [10]:
print("columns====",df.columns)
print("axes====",df.axes)
print("ndim====",df.ndim)
print("size====",df.size)

print("shape====",df.shape)
print("values for all ===",df.values)
print("values for rank and phd====",df.[['rank','phd']].values)

SyntaxError: invalid syntax (<ipython-input-10-8c474bd118ff>, line 7)

In [11]:
print("columns====",df.columns)
print("axes====",df.axes)
print("ndim====",df.ndim)
print("size====",df.size)
print("shape====",df.shape)
print("values for all ===",df.values)
print("values for rank and phd====",df[['rank','phd']].values)

columns==== Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')
axes==== [RangeIndex(start=0, stop=78, step=1), Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')]
ndim==== 2
size==== 468
shape==== (78, 6)
values for all === [['Prof' nan 56.0 49 'Male' 186960]
 ['Prof' 'A' 12.0 6 'Male' 93000]
 ['Prof' 'A' 23.0 20 'Male' 110515]
 ['Prof' 'A' 40.0 31 'Male' 131205]
 ['Prof' 'B' 20.0 18 'Male' 104800]
 ['Prof' 'A' 20.0 20 'Male' 122400]
 ['AssocProf' 'A' nan 17 'Male' 81285]
 ['Prof' 'A' 18.0 18 'Male' 126300]
 ['Prof' 'A' 29.0 19 'Male' 94350]
 ['Prof' 'A' 51.0 51 'Male' 57800]
 ['Prof' 'B' 39.0 33 'Male' 128250]
 ['Prof' 'B' 23.0 23 'Male' 134778]
 ['AsstProf' 'B' 1.0 0 'Male' 88000]
 ['Prof' 'B' 35.0 33 'Male' 162200]
 ['Prof' 'B' 25.0 19 'Male' 153750]
 ['Prof' 'B' 17.0 3 'Male' 150480]
 ['AsstProf' 'B' 8.0 3 'Male' 75044]
 ['AsstProf' 'B' 4.0 0 'Male' 92000]
 ['Prof' 'A' 19.0 7 'Male' 107300]
 ['Prof' 'A' 29.0 27 'Male' 150500]
 ['AsstProf' 'B' 4.0 4 'Male' 92000]
 ['Prof' 'A' 33.0 30 'Male' 103106]
 ['AsstProf' 'A' 4.0 2 'Male' 73000]
 ['AsstProf' 'A' 2.0 0 'Male' 85000]
 ['Prof' 'A' 30.0 23 'Male' 91100]
 ['Prof' 'B' 35.0 31 'Male' 99418]
 ['Prof' 'A' 38.0 19 'feMale' 148750]
 ['Prof' 'A' 45.0 43 'Male' 155865]
 ['AsstProf' 'B' 7.0 2 'Male' 91300]
 ['Prof' 'B' 21.0 20 'Male' 123683]
 ['AssocProf' 'B' 9.0 7 'Male' 107008]
 ['Prof' 'B' 22.0 21 'Male' 155750]
 ['Prof' 'A' 27.0 19 'Male' 103275]
 ['Prof' 'B' 18.0 18 'Male' 120000]
 ['AssocProf' 'B' 12.0 8 'Male' 119800]
 ['Prof' 'B' 28.0 23 'Male' 126933]
 ['Prof' 'B' 45.0 45 'Male' 146856]
 ['Prof' 'A' 20.0 8 'Male' 102000]
 ['AsstProf' 'B' 4.0 3 'Male' 91000]
 ['Prof' 'B' 18.0 18 'Female' 129000]
 ['Prof' 'A' 39.0 36 'Female' 137000]
 ['AssocProf' 'A' 13.0 8 'Female' 74830]
 ['AsstProf' 'B' 4.0 2 'Female' 80225]
 ['AsstProf' 'B' 5.0 0 'Female' 77000]
 ['Prof' 'B' 23.0 19 'Female' 151768]
 ['Prof' 'B' 25.0 25 'Female' 140096]
 ['AsstProf' 'B' 11.0 3 'Female' 74692]
 ['AssocProf' 'B' 11.0 11 'Female' 103613]
 ['Prof' 'B' 17.0 17 'Female' 111512]
 ['Prof' 'B' 17.0 18 'Female' 122960]
 ['AsstProf' 'B' 10.0 5 'Female' 97032]
 ['Prof' 'B' 20.0 14 'Female' 127512]
 ['Prof' 'A' 12.0 0 'Female' 105000]
 ['AsstProf' 'A' 5.0 3 'Female' 73500]
 ['AssocProf' 'A' 25.0 22 'Female' 62884]
 ['AsstProf' 'A' 2.0 0 'Female' 72500]
 ['AssocProf' 'A' 10.0 8 'Female' 77500]
 ['AsstProf' 'A' 3.0 1 'Female' 72500]
 ['Prof' 'B' 36.0 26 'Female' 144651]
 ['AssocProf' 'B' 12.0 10 'Female' 103994]
 ['AsstProf' 'B' 3.0 3 'Female' 92000]
 ['AssocProf' 'B' 13.0 10 'Female' 103750]
 ['AssocProf' 'B' 14.0 7 'Female' 109650]
 ['Prof' 'A' 29.0 27 'Female' 91000]
 ['AssocProf' 'A' 26.0 24 'Female' 73300]
 ['Prof' 'A' 36.0 19 'Female' 117555]
 ['AsstProf' 'A' 7.0 6 'Female' 63100]
 ['Prof' 'A' 17.0 11 'Female' 90450]
 ['AsstProf' 'A' 4.0 2 'Female' 77500]
 ['Prof' 'A' 28.0 7 'Female' 116450]
 ['AsstProf' 'A' 8.0 3 'Female' 78500]
 ['AssocProf' 'B' 12.0 9 'Female' 71065]
 ['Prof' 'B' 24.0 15 'Female' 161101]
 ['Prof' 'B' 18.0 10 'Female' 105450]
 ['AssocProf' 'B' 19.0 6 'Female' 104542]
 ['Prof' 'B' 17.0 17 'Female' 124312]
 ['Prof' 'A' 28.0 14 'Female' 109954]
 ['Prof' 'A' 23.0 15 'Female' 109646]]
values for rank and phd==== [['Prof' 56.0]
 ['Prof' 12.0]
 ['Prof' 23.0]
 ['Prof' 40.0]
 ['Prof' 20.0]
 ['Prof' 20.0]
 ['AssocProf' nan]
 ['Prof' 18.0]
 ['Prof' 29.0]
 ['Prof' 51.0]
 ['Prof' 39.0]
 ['Prof' 23.0]
 ['AsstProf' 1.0]
 ['Prof' 35.0]
 ['Prof' 25.0]
 ['Prof' 17.0]
 ['AsstProf' 8.0]
 ['AsstProf' 4.0]
 ['Prof' 19.0]
 ['Prof' 29.0]
 ['AsstProf' 4.0]
 ['Prof' 33.0]
 ['AsstProf' 4.0]
 ['AsstProf' 2.0]
 ['Prof' 30.0]
 ['Prof' 35.0]
 ['Prof' 38.0]
 ['Prof' 45.0]
 ['AsstProf' 7.0]
 ['Prof' 21.0]
 ['AssocProf' 9.0]
 ['Prof' 22.0]
 ['Prof' 27.0]
 ['Prof' 18.0]
 ['AssocProf' 12.0]
 ['Prof' 28.0]
 ['Prof' 45.0]
 ['Prof' 20.0]
 ['AsstProf' 4.0]
 ['Prof' 18.0]
 ['Prof' 39.0]
 ['AssocProf' 13.0]
 ['AsstProf' 4.0]
 ['AsstProf' 5.0]
 ['Prof' 23.0]
 ['Prof' 25.0]
 ['AsstProf' 11.0]
 ['AssocProf' 11.0]
 ['Prof' 17.0]
 ['Prof' 17.0]
 ['AsstProf' 10.0]
 ['Prof' 20.0]
 ['Prof' 12.0]
 ['AsstProf' 5.0]
 ['AssocProf' 25.0]
 ['AsstProf' 2.0]
 ['AssocProf' 10.0]
 ['AsstProf' 3.0]
 ['Prof' 36.0]
 ['AssocProf' 12.0]
 ['AsstProf' 3.0]
 ['AssocProf' 13.0]
 ['AssocProf' 14.0]
 ['Prof' 29.0]
 ['AssocProf' 26.0]
 ['Prof' 36.0]
 ['AsstProf' 7.0]
 ['Prof' 17.0]
 ['AsstProf' 4.0]
 ['Prof' 28.0]
 ['AsstProf' 8.0]
 ['AssocProf' 12.0]
 ['Prof' 24.0]
 ['Prof' 18.0]
 ['AssocProf' 19.0]
 ['Prof' 17.0]
 ['Prof' 28.0]
 ['Prof' 23.0]]

In [2]:
df_sub = df[df['salary']>150000]
df_sub

NameError: name 'df' is not defined

In [8]:
df_sub = df [df['salary']>150000]
df_sub

    rank discipline   phd  service     sex  salary
0   Prof        NaN  56.0       49    Male  186960
13  Prof          B  35.0       33    Male  162200
14  Prof          B  25.0       19    Male  153750
15  Prof          B  17.0        3    Male  150480
19  Prof          A  29.0       27    Male  150500
27  Prof          A  45.0       43    Male  155865
31  Prof          B  22.0       21    Male  155750
44  Prof          B  23.0       19  Female  151768
72  Prof          B  24.0       15  Female  161101

In [9]:
df.sort_values(by="salary").head()
df.sort_values(by=["discipline","service"]).head()

        rank discipline   phd  service     sex  salary
23  AsstProf          A   2.0        0    Male   85000
52      Prof          A  12.0        0  Female  105000
55  AsstProf          A   2.0        0  Female   72500
57  AsstProf          A   3.0        1  Female   72500
22  AsstProf          A   4.0        2    Male   73000

In [10]:
df['salary'].agg(['min','max','mean'])

min      57800.000000
max     186960.000000
mean    108023.782051
Name: salary, dtype: float64